*{
    margin: 0;
    padding: 0;
}

section, footer{
    padding: 60px 8%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #FFFFFF;
}

 nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #575757;
}

.btn{
    padding: 10px 35px;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    background-color: #1D4ED8;
    cursor: pointer;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.header-content{
    text-align: center;
    display: grid;
    gap: 16px;
    color: #FFFFFF;
}

.header-content h2{
   font-size: 80px;
}

.header-content button{
    width: 25%;
    margin-left: 38%;
    margin-top: 260px;
    padding: 20px 0px;
    font-size: 20px;
    cursor: pointer;
}

.speakers{
    font-size: 50px;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.speakers-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

 .speakers-container .speakers-card{
    
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #E5E7EB;
}

.speakers-card .speakers-p{
    color: #2563EB;
}

.speakers-card{
    display: grid;
    gap: 10px;
}

.speakers-card .speakers-p, h4, p{
    padding-left: 10px;
    
}

.speakers-card p{
    padding-bottom: 10px;
}

.secure{
    display: grid;
    justify-content: center;
    text-align: center;
}

.secure .secure-p1{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 10px;
}

.secure .secure-p2{
    color: #575757;
}

.secure-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
}

.secure-container .secure-card{
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #E5E7EB;
    padding: 40px;
}

.secure-card{
    display: grid;
    gap: 10px;
}

.secure-container .secure-card-pointer ul li::marker{
    color: #2563EB;
}

 


.secure-card p, .secure-btn{
    padding: 5px 0 5px 10px;
}

.secure-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8%;
    padding: 8px 110px;
    border-radius: 10px;
    border: 2px solid #2563EB;
    color: #2563EB;
    background-color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.secure-card2{
    background-color: #0D1B2A;
    color: #FFFFFF;
}


#pro{
    background-color: #2563EB;
    color: #FFFFFF;
    
}

#secure-p3-pro{
    color: #93C5FD;
    font-size: 26px;
    font-weight: 500;
}


.secure-p3{
    color: #575757;
}

.secure-p4{
    font-size: 50px;
    font-weight: bold;
}

#secure-btn3{
    border: 2px solid #0D1B2A;
    color: #0D1B2A;
    
}

.newslatter{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 40px;
}

.newslatter-bottom{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #93C5FD;
    color: black;
    border-radius: 10px;
    border: none;
}

.newslatter-bottom span{
    color: rgb(203, 59, 19);
}

.newslatter-bottom p{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.newslatter p{
    font-size: 20px;
}

.email-input{
    width: 350px;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-btn{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #2563eb;
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #0D1B2A;
}

.footer-left,.footer-right p{
    color: #FFFFFF;
}



.footer-right{
    display: flex;
}